# exclude .DS_Store
#
.DS_Store
#
#
# exclude .metadata and RemoteSystemsTempFiles
#
.metadata/
RemoteSystemsTempFiles/
#
# exclude .settings and bin directory inside all projects as well as files .classpath #and .project
#
bin/
*.classpath
*.project
.settings/

# exclude until done - removed exclusion 24/10/2017
#/SCOMRED/src/aula03_17102017

# exclude .recommenders (file from infinitest)
.recommenders

# exclude Projetos_SWitCH

Projetos_SWitCH/